
@{
    ViewData["Title"] = "Account";
}

<h2>Account</h2>

@if(User.Identity.IsAuthenticated)
{
    <div>Authenticated as @User.Identities</div>
}

@User.Identity.IsAuthenticated

<div style="display: inline-block;">
    @{ await Html.RenderPartialAsync("Register"); }
</div>
<div style="display: inline-block;">
    @{ await Html.RenderPartialAsync("Login"); }
</div>