@model IList<Basic.Models.ModelData>;


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

Length: @Model.Count

@foreach (var data in Model)
{
    <p>Text: @data.Text, Active: @data.Active</p>
}

@{ Html.RenderPartial("AddModelData", new Basic.Models.ModelData()); }